modules = ["nodejs-20", "web"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 37189
externalPort = 3000

[[ports]]
localPort = 37595
externalPort = 3003

[[ports]]
localPort = 38687
externalPort = 8099

[[ports]]
localPort = 39349
externalPort = 3001

[[ports]]
localPort = 40173
externalPort = 8008

[[ports]]
localPort = 41437
externalPort = 4200

[[ports]]
localPort = 42025
externalPort = 5000

[[ports]]
localPort = 42311
externalPort = 6000

[[ports]]
localPort = 42703
externalPort = 5173

[[ports]]
localPort = 43027
externalPort = 8000

[[ports]]
localPort = 43675
externalPort = 8080

[[ports]]
localPort = 45207
externalPort = 6800

[[ports]]
localPort = 45215
externalPort = 8081

[[ports]]
localPort = 45413
externalPort = 3002

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
integrations = ["javascript_log_in_with_replit:1.0.0", "javascript_stripe:1.0.0", "javascript_database:1.0.0"]
expertMode = true

[userenv]

[userenv.shared]
JWT_SECRET = "fitpro-super-secret-jwt-key-2024-change-in-production"
JWT_REFRESH_SECRET = "fitpro-refresh-secret-key-2024-change-in-production"
ADMIN_PASSWORD = "Admin@123"
PORT = "5000"
SMTP_HOST = "smtp.gmail.com"
SMTP_PORT = "587"
SMTP_USER = "abhijeet18012001@gmail.com"
SMTP_PASS = "ovrlxmplucmzjyrm"
EMAIL_FROM = "abhijeet18012001@gmail.com"
BASE_URL = "https://workspace.elliannadaniels.repl.co"
FILE_ENCRYPTION_KEY = "662cd0a7ac62e5f4908e03f2aabd69f82f8744be303010079caa8f3696dba083"
DB_FIELD_ENCRYPTION_KEY = "c901f8331e73059be6ac72352f17c60cf211a8163aad225941c0137959685ade"
ZOOM_ACCOUNT_ID = "iRUT-HKzQCig4lNdA2py3w"
ZOOM_ACCOUNT_SECRET = "R0UgGamM4soeHd8Ku7mvfi4grixkyIPe"
ZOOM_CLIENT_ID = "KuUAiFDzTB6fz7twhpXg"
MONGODB_URI = "mongodb+srv://abhijeet18012001_db_user:4ciRkpralWZdokz0@gymmngmnt.lxkttan.mongodb.net/?appName=gymmngmnt"
